body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


#banner {
    max-width: 40%;
    position: relative;
}

#logo-container {
    position: absolute;
    background-color: black;
    width: 100%;
    top: 40%;
    bottom: 40%;
    opacity: 0.6;
}

#logo {
    position: absolute;
    height: 15%;
    width: fit-content;
    top: 42.5%;
    left: 0;
    right: 0;
    margin-inline: auto;
}

#signup {
    display:flex;
    height: 100vh;
}



#background {
    height: 100%;
    width: 100%;
} 

#image-credits {
    position:absolute;
    color: white;
    bottom: 0.1%;
    left: 0;
    right: 0;
    width: fit-content;
    margin-inline: auto;
    font-size: 12px;
}

#content {
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: rgb(234, 234, 234);
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 5%;
    padding-right: 15%;
}

#form {
    background-color: white;
    flex: 1;
    padding-left: 5%;
    display:flex;
    flex-direction: column;
    padding-bottom: 5%;
    overflow:auto;
}

label {
    font-size: 0.6rem;
}

#footer {
    background-color: rgb(234, 234, 234);
    flex: 1;
    padding-top: 5%;
    padding-left: 5%;
}

button {
    background-color: rgb(59, 102, 59);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 30px;
}

#footer a {
    text-decoration: none;
    color: rgb(59, 102, 59);
}

#banner a {
    color:white;
}

.row {
    display: flex;
    gap: 10%;
}